<div class="joshswrapper">
  <h1>Dave McDonald</h1> <ion-icon name="refresh" class="refreshicon"></ion-icon>

  <ion-content>
    <div class="chipsidea">Bitches aint shit but hoes and tricks</div>
    <div class="chipsideb">Bitches aint shit but hoes and tricks</div>
  </ion-content>

  <input placeholder="Type Something..." class="bottominput"/> <ion-icon name="send" class="sendicon"></ion-icon>
</div>
