page-about {
  background-color: $white;
  padding: 10%;

  ion-content{
    height: 65vh;
    width: 80%;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    margin-top: 20vh;
  }

  .refreshicon{
    margin-left: 75vw;
    margin-top: -5.8vh;
    font-size: 32px;
    position: absolute;
    color: $blue;
  }

  h1{
    color: $darkblue;
  }

  .chipsidea{
    width: auto;
    height: auto;
    background: linear-gradient(to bottom right, $lightblue, $blue);
    border-radius: 5px;
    margin-top: 3vh;

    max-width: 50vw;
    overflow: hidden;

    padding: 6%;
    color: $white;
    font-family: $mont;
    text-align: left;
  }

  .chipsideb{
    width: auto;
    height: auto;
    float: right;
    background: linear-gradient(to bottom right, $blue, $darkblue);
    border-radius: 5px;
    margin-top: 3vh;

    max-width: 50vw;
    overflow: hidden;
    text-align: right;

    padding: 6%;
    color: $white;
    font-family: $mont;
  }

  .bottominput{
    bottom: 10%;
    position: absolute;
    width: 70%;
    padding: 4%;
    padding-left: 3%;
    border: none;
    box-shadow: 0px 0px 5px $blue;
    font-family: $mont;
    border-radius: 5px;
  }

  .sendicon{
    position: absolute;
    bottom: 10.5%;
    margin-left: 75vw;
    font-size: 42px;
    color: $blue;

  }






}
