
<h1 class="title">Hello, {{displayName}} What do you like?</h1>
<h2 *ngIf="searching">No Matches Found, but we are still searching... <a href="#" (click)="stopSearch()">Stop</a></h2>
<div class="card3"></div>
<input class="card1" placeholder="? ? ?"/>
<button class="card2" (click)="createUser()">Start chat</button>

<p style="text-align: center;" (click)="logout()">LOGOUT</p>
