page-contact {
  background-color: $white;
  padding: 10vw;
  font-family: $mont;

  .title{
    text-align: center;
    font-weight: bold;
    margin-top: 12vh;
    color: $darkblue;
  }
  .card1{
    width: 70%;
    height: 8vh;
    background-color: $white;
    display: block;
    position: absolute;
    margin-top: 20vh;
    box-shadow: 0px 0px 3px $lightblue;
    border: none;
    text-align: center;
    color: black;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

  }
  .card2{
    width: 70%;
    height: 8vh;
    background-color: $blue;
    display: block;
    position: absolute;
    margin-top: 45vh;
    box-shadow: 0px 0px 3px $lightblue;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 10px;
    color: $white;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }


  ion-backdrop{
    pointer-events: none;
  }

  p{
    margin-top: 60vh;
    width: 88%;
    height: 8vh;
    border-radius: 10px;
    background-color: green;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    line-height: 9vh;
    color: $white;
    background-color: $darkblue;
    box-shadow: 0px 0px 3px $lightblue;
  }

  h2{
    text-align: center;
    font-size: 16px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    width: 60%;
    margin-top: 5vh;

  }
}
