page-home {

  .joshswrapper{
    padding: 10% !important;
    font-family: $mont;
  }

  h1{
    text-align: center;
    color: $darkblue;
  }

  input{
    position: absolute;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    padding: 2%;
    width: 60vw;
    height: 8vh;
    font-size: 12px;

    border: none;

    box-shadow: 0px 0px 5px $lightblue;
  }

  .input1{
      margin-top: 20vh;
  }

  .input2{
      margin-top: 30vh;
  }

  .facebookLI{
    margin-top: 60vh;
    margin-left: 25vw;
    font-size: 30px;
    color: $lightblue;
  }

  .googleLI{
    margin-top: 60vh;
    margin-left: 20%;
    font-size: 30px;
    color: $lightblue;
  }

  .subbtn{
    position: absolute;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    margin-top: 50vh;
    text-align: center;

    padding: 2%;
    width: 40vw;
    height: 5vh;
    font-size: 12px;
    background-color: $blue;
    color: $white;
    border-radius: 10px
  }
}
