<ion-content>

  <div class="joshswrapper" *ngIf="!loggedin">
    <h1>Omegle 2.0</h1>

    <input class="input1" placeholder="Username" />
    <input class="input2" placeholder="Password" type="password"/>

    <button class="subbtn"> Submit </button>
    <ion-icon name="logo-facebook" class="facebookLI" (click)="loginFB()"></ion-icon>
    <ion-icon name="logo-google" class="googleLI" (click)="loginG()"></ion-icon>
  </div>

  <div *ngIf="loggedin">
    <p style="text-align: center;" (click)="logout()">LOGOUT</p>
  </div>
</ion-content>
