@import url('https://fonts.googleapis.com/css?family=Montserrat');

$white: #fff;
$grey: #DCE1E5;
$black:  black;
$lightblue: #83B1DF;
$blue: #779EA6;
$darkblue:  #3F6274;

$mont: 'Montserrat', sans-serif;
